<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Form</title>
</head>
<body>
<h2>User Registration Form</h2>
<form th:action="@{/submit}" th:object="${user}" method="post">
    Name: <input type="text" th:field="*{name}" /><br/><br/>
    Email: <input type="email" th:field="*{email}" /><br/><br/>

    <h3>Preferred Locations</h3>
    Address 1: <br/>
    City: <input type="text" th:field="*{addresses[0].city}" /> <br/>
    State: <input type="text" th:field="*{addresses[0].state}" /><br/><br/>

    Address 2: <br/>
    City: <input type="text" th:field="*{addresses[1].city}" /> <br/>
    State: <input type="text" th:field="*{addresses[1].state}" /><br/><br/>

    Phone 1: <input type="text" th:field="*{phones[0]}" /><br/>
    Phone 2: <input type="text" th:field="*{phones[1]}" /><br/><br/>

    <input type="submit" value="Submit" />
</form>
<p><strong>Created by:</strong> Sabitha (Register No: 212222040137)</p>
</body>
</html>
